<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.likeit.a51scholarship">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="com.kugou.permission.ACCESS_DOWNLOAD_MANAGER" />
    <uses-permission android:name="com.kugou.permission.ACCESS_DOWNLOAD_MANAGER_ADVANCED" />
    <uses-permission android:name="com.kugou.permission.SEND_DOWNLOAD_COMPLETED_INTENTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <!-- 保存资源到SD卡 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <permission android:name="android.permission.WRITE_MEDIA_STORAGE" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <permission android:name="android.permission.DEVICE_POWER" />

    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT" />

    <permission android:name="android.permission.WRITE_APN_SETTINGS" />

    <uses-permission android:name="com.sing.kugou.android.permission.ACCESS_KUGOU_SERVICE" />
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RAISED_THREAD_PRIORITY" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <application
        android:name=".app.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Holo.Light.NoActionBar">

        <!-- Bugly -->
        <activity
            android:name="com.tencent.bugly.beta.ui.BetaActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:theme="@android:style/Theme.Translucent" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
        <!-- ShareSDK 开始 -->
        <!--
             <activity
            android:name="cn.sharesdk.framework.ShareSDKUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        -->
        <!-- 微信分享回调 -->
        <!--
        <activity
            android:name="cn.sharesdk.framework.ShareSDKUIShell"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" >
            <intent-filter>
                <data android:scheme="tencent100371282" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        -->
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <meta-data
                android:name="AuthorizeAdapter"
                android:value="cn.sharesdk.demo.MyAdapter" />

            <action android:name="android.intent.action.VIEW" />

            <category android:name="android.intent.category.BROWSABLE" />
            <category android:name="android.intent.category.DEFAULT" />
            <!--
                 调用新浪原生SDK，需要注册的回调activity

            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            -->

        </activity>

        <!--
			AuthorizeAdapter继承自
			cn.sharesdk.framework. authorize.AuthorizeAdapter，
			可以监听到页面的生命周期，也能获取页面的各种UI控件。
			开发者可以通过继承AuthorizeAdapter，重写其方法，
		并获取各种UI来自定义这个页面的行为。
        -->
        <!-- 调用新浪原生SDK，需要注册的回调activity -->
        <!-- 微信分享注册 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- 分享 -->


        <!-- ShareSDK 结束 -->
        <activity
            android:name=".activitys.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name=".activitys.login.ForgetPasswdActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name=".activitys.login.RegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name=".activitys.Container"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name=".activitys.login.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activitys.login.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.login.GuideActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" />
        <activity
            android:name=".activitys.login.BaseActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name=".activitys.login.UploadImgActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name=".activitys.login.PerfectFirstActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name="cn.finalteam.rxgalleryfinal.ui.activity.MediaActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:keepScreenOn="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".activitys.my_center.UserInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name=".activitys.my_center.InviteFriendsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name=".activitys.my_center.CollectActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name=".activitys.my_center.SpentActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name=".activitys.my_center.DianActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name=".activitys.my_center.NearSeeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name=".activitys.my_center.OpenActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name=".activitys.my_center.AboutActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name=".activitys.my_center.SetActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name=".activitys.my_center.FeeBackActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name=".activitys.SearchInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name=".activitys.MessageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name=".activitys.SearchSchoolActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name=".activitys.NewsListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name=".activitys.SchoolDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name=".activitys.WebActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name=".activitys.WebForNewsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name=".activitys.WebHtmlActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name=".activitys.SendNewsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name=".activitys.SchoolCommentActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name=".activitys.my_center.EditorCenterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name=".activitys.newsfragment.NewsDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name=".activitys.LiveListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name=".activitys.CourseListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name=".activitys.AnswersActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name=".activitys.AskActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name=".activitys.answersfragment.AnswersUserDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name=".activitys.CourseDetailsActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name=".activitys.CircleDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme" />
        <activity android:name=".activitys.livefragment.LiveDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme"></activity>
    </application>

</manifest>